@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');

* {
  margin: 0;
  padding: 0;
  font-weight: 400;
  box-sizing: border-box;
}

html {
  font-family: 'Aldrich', sans-serif;
  font-style: normal;
  font-size: 16px;
  color: white;
}

main,
.column-centering {
  display: flex;
  flex-direction: column;
  align-items: center;
}

li {
  list-style-type: none;
}

.default-button,
#button-container .default-button {
  color: white;
  border: none;
  font-size: 1.5rem;
  align-self: center;
  padding: 5px;
  min-width: 160px;
}

button:hover,
button:focus {
  cursor: pointer;
  background-color: rgba(36, 17, 0, 0.6);
}

button {
  background-color: rgba(64, 30, 0, 0.6);
  color: white;
}

.nutty-colour,
.card {
  background-color: rgba(245, 116, 2, 0.5);
}

.card {
  width: 80%;
  margin: 40px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: first baseline;
}

#main-container {
  margin-top: 200px;
  margin-bottom: 200px;
  width: 80%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}